//====================================================================================================
footer{background: url('../img/bg_footer.jpg') 0 0 repeat;padding: 33px 0;}
@media (max-width:767px){
	footer{padding: 20px 0;}
}
//====================================================================================================
.footer-body {@include flexbox();}
.footer-column {
	&:nth-child(2){flex-grow: 1;}
}
@media (max-width:992px){
	.footer-body {display: block;text-align: center;}
	.footer-column {margin: 0px 0px 25px 0px;
		&:last-child{margin:0px 0px 0px 0px;}
	}
}
//====================================================================================================
.footer__logo {}
//====================================================================================================
.footer-content {text-align: left;@include flexbox();max-width: 700px;margin: 0px auto;padding:0 25px;}
.footer-content-column {flex-grow: 1;}

@media (max-width:600px){
	.footer-content {display: block;text-align: center;}
	.footer-content-column {margin: 0px 0px 20px 0px;
		&:last-child{margin:0px 0px 0px 0px;}
	}
}
//====================================================================================================
.footer-menu {
	li{margin: 0px 0px 10px 0px;
		&:last-child{margin:0px 0px 0px 0px;}
	}
}
.footer-menu__link {font-size: 16px;color: #fff;line-height: 18px;
	&:hover{text-decoration: underline;}
}
//====================================================================================================
.footer-social {}
.footer-social__link {display:inline-block;width:40px;height:40px;border:1px solid #fff;border-radius:50%;font-size:20px;text-align:center;line-height:38px;color:#fff;margin:0px 10px 0px 0px;@include anim(0.3s,0s);}
//====================================================================================================
.footer-dev {}
.footer-dev__label {font-size: 16px;margin: 0px 0px 10px 0px;color: #fff;}
.footer-dev__item {}
//====================================================================================================

