//<ОСНОВНОЙ БЛОК>====================================================================================================
.title{font-family: 'AGCenturion';font-size: 50px;
	&.cnt{text-align: center;}
}
.subtitle{font-size: 22px;}

@media (max-width:992px){
	.title{font-size: 40px;}
}
@media (max-width:767px){
	.title{font-size: 30px;}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================



//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.noselect{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
//====================================================================================================
.ellipsis{display: block;overflow: hidden;width: 100%;white-space: nowrap;text-overflow: ellipsis;}
.es{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
//====================================================================================================
.table{display: table;font-size: 0;width: 100%;
	//table-layout: fixed;
}
.trow{display: table-row;}
.cell{display: table-cell;
	&.full{width: 100%;}
}
//====================================================================================================
.tip{
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	line-height: 20px;
	color: #fff;
	width: 20px;
	cursor: pointer;
	height: 20px;
	background-color: #415271;
}
//====================================================================================================
.ibg{background-position: center;background-size: cover;background-repeat: no-repeat;
	img{display: none;}
}
//====================================================================================================
.video{position: relative;overflow: hidden;height: 0;padding-bottom: 56.25%;
	video,iframe,object,embed{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
}
.videobg{
	video,iframe,object,embed{position: fixed;top: 50%;left: 50%;min-width: 100%;min-height: 100%;width: auto;height: auto;z-index: -100;transform: translateX(-50%) translateY(-50%);background-size: cover;}
}
//====================================================================================================
.slick-slider{position: relative;
	.slick-track,.slick-list {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
	.slick-list{position: relative;overflow: hidden;width: 100%;}
	.slick-track{position: relative;width: 100%;}
	.slick-slide{overflow: hidden;float: left;position: relative;}
	.slick-dots{
		li{
			button{}
			&.slick-active{
				button{}
			}
		}
	}
}
//=====================================================================================================================
.tab__item{display: none;
	&.active{display: block;}
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================